.sidebar-content {
  margin: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.watch {
  margin: 15px auto 35px;
  text-align: center;
  font-size: xx-large;
  color: #673ab7;
}

.calendar {
  margin: auto;
  width: 60%;
}
