.login-card {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.full-width-field {
  width: 100%;
}

.full-width-content {
  width: 100%;
}
.mat-card-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.login-button {
  margin-top: 5%;
  text-align: center;
}

.register-alert {
  text-align: center;
}
