table {
  width: 100%;
}

.greenRow {
  background-color: green;
}

.redRow {
  background-color: red;
}

.legendTable {
  padding-top: 10px;
}

.tableVisible{
  visibility: visible;
}

.tableHidden{
  visibility: hidden;
}