<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="stockName">
            <th mat-header-cell *matHeaderCellDef> Stock Name </th>
            <td mat-cell *matCellDef="let element"> {{element.stockName}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>

        <ng-container matColumnDef="finalPrice">
            <th mat-header-cell *matHeaderCellDef> Final Price </th>
            <td mat-cell *matCellDef="let element">{{element.finalPrice}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'greenRow': row.type == 'bougth', 'redRow': row.type == 'sold'}"></tr>
    </table>
</div>
<div>
    <table class='legendTable'>
        <tr>
            <th class='greenRow'>Bought </th>
            <th class='redRow'>Sold</th>
        </tr>
    </table>
</div>