<!-- Fixed navbar -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [routerLink]="'/'">{{title}}</button>
        <button mat-button [routerLink]="'/stock'">Stock</button>

        <div class="alignRightItems">
            <button mat-button *ngIf="true" [routerLink]="'user'">user</button>
            <button mat-button *ngIf="!this.auth.isLoggedIn()" [routerLink]="'/register'">Register</button>
            <button mat-button *ngIf="this.auth.isLoggedIn()" (click)="this.auth.logout()">{{logoutText}}</button>
            <button mat-button *ngIf="!this.auth.isLoggedIn()" [routerLink]="'/login'">{{loginText}}</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
