<app-nav-header class="fixedTopPosition"></app-nav-header>
<div class="container-fluid text-center pb-5">
    <div style="text-align:center">
        <h1>
            Work in Progress
        </h1>
    </div>
</div>
<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened position="end" class="static-sidebar">
    <app-static-sidebar></app-static-sidebar>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

