.useredit-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.saveBtn {
    align-items: center;
}

.form-container>*:not(.saveBtn) {
    width: 100%;
}