<div>
    <mat-horizontal-stepper #stepper linear fxLayoutAlign="center center" fxLayout="column">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" class="form-container">
                <ng-template matStepLabel>Fill out your name and surname</ng-template>
                <mat-form-field>
                    <input matInput [(ngModel)]="registerModel.name" placeholder="First name" formControlName="nameCtrl" required>
                    <mat-error *ngIf="hasError(firstFormGroup, 'nameCtrl')">
                        Name is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="registerModel.surname" placeholder="Last name" formControlName="surnameCtrl" required>
                    <mat-error *ngIf="hasError(firstFormGroup, 'surnameCtrl')">
                        Surname is required!
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mat-button [disabled]="!isValidForm(firstFormGroup)" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [completed]="!isValidForm(firstFormGroup) ? false : secondFormGroup.valid">
            <form [formGroup]="secondFormGroup" class="form-container">
                <ng-template matStepLabel>Fill out your login and email</ng-template>
                <mat-form-field>
                    <input matInput [(ngModel)]="registerModel.login" placeholder="Login" formControlName="loginCtrl" required>
                    <mat-error *ngIf="hasError(secondFormGroup, 'loginCtrl')">
                        Login is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="registerModel.email" placeholder="Email" formControlName="emailCtrl" required>
                    <mat-error *ngIf="hasError(secondFormGroup, 'emailCtrl')">
                        Please enter a valid email!
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button [disabled]="!isValidForm(secondFormGroup)" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" [completed]="!isValidForm(secondFormGroup) ? false : thirdFormGroup.valid">
            <form [formGroup]="thirdFormGroup" class="form-container">
                <ng-template matStepLabel>Fill out your password</ng-template>
                <mat-form-field>
                    <input type="password" matInput [(ngModel)]="registerModel.password" placeholder="Password" formControlName="passCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Repeat password" formControlName="repeatPassCtrl" [errorStateMatcher]="errorMatcher" required>
                    <mat-error *ngIf="thirdFormGroup.hasError('passwordsDoNotMatch')">
                        Passwords do not match!
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button [disabled]="!isValidForm(thirdFormGroup)" (click)="register()">Register</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>