<!-- Fixed navbar -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [routerLink]="'/'">{{title}}</button>
        <button mat-button [routerLink]="'/stock'">Stock</button>

        <div class="alignRightItems">
            <button mat-button [routerLink]="'/register'">Register</button>
            <button mat-button *ngIf="false">{{logoutText}}</button>
            <button mat-button *ngIf="true" [routerLink]="'/login'">{{loginText}}</button>
            <button mat-button *ngIf="true" [routerLink]="'/user'">user</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>