table {
  width: 100%;
}

.tableVisible{
  visibility: visible;
}

.tableHidden{
  visibility: hidden;
}

.changeGreen {
  color: #00FF00
}

.changeRed {
  color: #FF0000
}

.changeBlack {
  color: #000000
}