<app-service-status [serviceStatus]=serviceStatus *ngIf="serviceStatus != 'OK'"></app-service-status>
<div *ngIf="serviceStatus == 'OK'">
    <table-update-time></table-update-time>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="abbreviation">
            <th mat-header-cell *matHeaderCellDef> Abbreviation </th>
            <td mat-cell *matCellDef="let element"> {{element.abbreviation}} </td>
        </ng-container>

        <ng-container matColumnDef="currentPrice">
            <th mat-header-cell *matHeaderCellDef> Current price </th>
            <td mat-cell *matCellDef="let element"> {{element.currentPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="priceDelta">
            <th mat-header-cell *matHeaderCellDef> Price delta </th>
            <td mat-cell *matCellDef="let element">
                <p class=changeGreen *ngIf="element.priceDelta > 0"> {{element.priceDelta}}% </p>
                <p class=changeBlack *ngIf="element.priceDelta == 0"> {{element.priceDelta}}% </p>
                <p class=changeRed *ngIf="element.priceDelta < 0"> {{element.priceDelta}}% </p>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>